*{
    padding: 0%;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

.sun img{
    width: 12%;
    margin-top: 3%;
    object-fit: cover;
}

.main {
    flex: 1;
  }
.sun{
    display: flex;
    justify-content: space-around;
}

.head{
    color: #66bfbf;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  display: flex;
  justify-content: center;
  align-content: center;
}

header{
    background-color:rgba(247, 255, 0, 0.18);
}

.pro{
    text-decoration:underline  ;
}

.programmer{
    font-size: 2.8rem;
    text-align: center;
}

.grass img{
    width: 134rem;
    height: 26rem;
    object-fit: cover;
}

.myphoto img{
    width: 12%;
    border-radius: 50%;
    margin-top: 5%;
    object-fit: cover;
}

.myphoto{
    display: flex;
    justify-content: center;
    align-content: center;
}



.hello{
    display: flex;
  justify-content: center;
  align-items: center;
  color: #66bfbf;
  font-size: 2rem;
  margin-top: 2%;
}

.text pre{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 2%;
    color: #40514E;
}

.myskill{
    color: #66bfbf;
    font-size: 2rem;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.myskill h2{
    margin-top: 2rem;
}


.gif{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.gif img{
    width: 80%;
    border-radius: 45%;
    margin-top: 1.5rem;
    object-fit: cover;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.text1 p{
    font-size: 1.3rem;
  margin-top: 3rem;
  color: #475d59;
}

.sectionsecond{
  height: 42rem;
  margin: auto;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: auto;
    margin-top: 2%;
    
}

.gif1 img{
    width: 105%;
    margin-top: 1.5rem;
    object-fit: cover;
    margin: 0% 5% 0% 0%;
}

.text2 p{
    font-size: 1.3rem;
    color: #475d59;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}

.sectionthird{
   height: 26rem;
   margin: auto;
}

.text3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text3 p{
    margin-top: 5%;
    color: #1cacac;
    font-size: 3rem;
    text-decoration: underline;
}

.text4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text4 p {
    margin-top: 2%;
    color: #66bf88;
    font-size: 2rem;
}

button{
    background-color: #04AA6D; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8%;
}

.button{
    display: flex;
  justify-content: center;
  align-items:center ;
  margin-top: 2%;
}

footer{
    background-color: #3004aa24;
    height: 12rem;
    margin: auto;
}

.linktofolow{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.linktofolow a{
    margin-top: 3%;
    color: #1cacac;
    font-size:  1.7rem;
}

.copyright{
    color: #1cacac;
    font-size:  1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

@media (min-width : 700px) and (max-width : 1500px){
    .sectionthird{
        background-color: rgba(153, 255, 0, 0.202);
        height: 21rem;
        margin: auto;
    }
    .sectionsecond{
        background-color: rgba(151, 255, 0, 0.08);
        height: 32rem;
        margin: auto;
    }
}

@media (max-width : 680px){
    .sun img{
        width: 12rem;
    }
    .head{
        font-size: 2rem;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .programmer{
        font-size: 2.5rem;
    }
    .grass img{
        display: none;
    }
    .myphoto img{
        width: 8.5rem;
    }
    .text pre{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 0.84rem;
    }
    .hello h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.7rem;
    }
    .gif img{
        width: 9.3rem;
        margin-right: 9%;
    }
    .text1 p{
        display: flex;
        justify-content: center;
        align-content:center;
        font-size: 0.84rem;
    }
    .first{
        width: 20rem;
    }

    .gif1 img{
        width: 9.3rem;
    }
    .second{
        width: 20rem;
    }
    .text2 p{
        display: flex;
        justify-content: center;
        align-content:center;
        font-size: 0.84rem;
    }
    .sectionsecond{
        height: 27.5rem;
    }
    .text3 p{
        font-size: 2rem;
    }
    .text4 p{
        font-size: 1.3rem;
    }
    .sectionthird{
        height: 12.5rem;
    }
    footer{
        height: 7rem;
    }
}

@media  (min-width : 2000px){
    .grass img{
        width: 100%;
    }
    .gif1 img
    {
    margin-left: 10%;
    }
    footer{
        margin-top: 10%;
        height: 1%;
    }
    .text3 p{
        margin-top: 10%;

    }
}